<!-- <p style="color: green">
  <%= notice %>
</p> -->

<div class="container-header">

  <div class="image">

  </div>
  <div class="nav">
    <p class="button-log">
      <% if user_signed_in? %>
      <%= link_to 'Se deconnecter' , destroy_user_session_path, method: :delete%>
      <%else %>
      <%= link_to 'Se Connecter' , new_user_session_path %>
      <% end %>
    </p>
    <p class="button-log">
      <%= link_to "Home Page" , root_path %>
  
    </p>
    
</div>

</div>

<div class='container-vendeur'>
  <%= render @vendeur %>

</div>
<div class="container-nav">
  <p class="button-nav">
    <%= link_to "Modifier le vendeur" , edit_vendeur_path(@vendeur) %>
  </p>
  <p class="button-nav">
    <%= link_to "liste vendeurs" , vendeurs_path %>
  </p>


</div>


<p class="title-list">Liste de produits : </p>
<div class="container-list-produit">
  <% if @Produits %>
    <%= render @Produits %>
      <% end %>

</div>

<div class="create-product-button">
  <p>
    <%= link_to "créer un nouveau produit" , new_product_path %>
  </p>
</div>
<p class="button-Ajout-destroy">
  <%= button_to "Supprimer le vendeur" , @vendeur, method: :delete %>
</p>

<div class="footer">
  <a class="footer-text">Nous contacter</a>
  <div class="logo">
  </div>
  <a class="footer-text">A propos</a>
 
  <p></p>
</div>