<div id="<%= dom_id produit %>">
  <p>
    <strong>Title:</strong>
    <%= produit.title %>
  </p>

  <p>
    <strong>Prix:</strong>
    <%= produit.prix %>
  </p>

  <p>
    <strong>Marque:</strong>
    <%= produit.marque %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= produit.stock %>
  </p>

  <p>
    <strong>Vendeur:</strong>
    <%= produit.vendeur.nameshop %>
  </p>

</div>
