<div class="container-header">

  <div class="image">

  </div>
  <div class="nav">
    <p class="button-log">
      <% if user_signed_in? %>
      <%= link_to 'Se deconnecter' , destroy_user_session_path, method: :delete%>
      <%else %>
      <%= link_to 'Se Connecter' , new_user_session_path %>
      <% end %>
    </p>
    <p class="button-log">
      <%= link_to "Acceuil" , root_path %>
  
    </p>
    
</div>

</div>
<div class="container">
  <div class="background">
    <div class="container-form">
      <h2 class="title-form">Nouveau produit</h2>
      <%= render "form" , produit: @produit %>

        <br>
        <div class="buttonBack">

          <%= link_to "Retour vendeur" , vendeur_path %>
        </div>
    </div>
  </div>
</div>
<div class="footer">
  <a class="footer-text">Nous contacter</a>
  <div class="logo">
  </div>
  <a class="footer-text">A propos</a>
 
  <p></p>
</div>